body {background: #eaebee;}
img {
  display: inline-block;
  max-width: 100%;
}
.container {
  transition: max-width 0.2s, width 0.2s;
}

.page-cover {
  position: fixed;
  top:0; right:0; bottom:0; left:0;
  overflow: hidden;
  background: #fff;
  z-index: 99999;
}

.main {
  max-width: 900px;
  min-height: 100vh;
  background: #fff;
}

.md-wrap {}